/* header start */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  position: relative;
  background-color: #fff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --gray-color: #e5e5e5;
  --red-color: #A50B0B;
  --background-image: 
}

/* common start */

.logo {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-shadow: 4px 4px 8px var(--red-color), 1px 1px var(--red-color), 1px -1px var(--red-color), -1px 1px var(--red-color), -1px -1px var(--red-color);
  font-family: 'Montserrat';
  line-height: 1;
}

.logo span:first-child {
  font-size: 72px;
  font-weight: 700;
}

.logo span:last-child {
  font-weight: 500;
  font-size: 24px;
}

.page-link {
  position: relative;
  z-index: 10;
  max-width: 210px;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  background: var(--red-color);
  border-radius: 15px;
  transition: background .3s, box-shadow .3s, transform .3s;
}

.page-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--red-color);
  border-radius: 15px;
  z-index: -1;
}

.page-link:hover {
  background: transparent;
}

.page-link:active {
  transform: scale(1.03);
}

.page-link:hover::after {
  background: linear-gradient(180deg, rgba(125, 11, 165, 0.7) 0%, rgba(165, 11, 11, 0.7) 100%);
}

.dropdown-wrapper {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(228, 182, 182, 1) 0%, rgba(191, 146, 207, 1) 100%);
  box-shadow: 0px 11px 18px rgba(0, 0, 0, 0.25);
  border-radius: 74px;
  transition: opacity .3s, visibility .3s;
}

.dropdown-wrapper::before {
  content: '';
  position: absolute; 
  top: -30px; 
  border: 30px solid transparent;
  border-top: 0;
  border-bottom: 30px solid rgba(228, 182, 182, 1);
}

.header__dropdown-text {
  cursor: pointer;
  position: relative;
}

.header__dropdown-text::after {
  content: ''; 
  position: absolute; 
  right: -17px;
  top: 8px; 
  border: 6px solid transparent;
  border-top: 6px solid #fff;
}

.dropdown-link {
  cursor: pointer;
  transition: color .3s;
}

.dropdown-list {
  margin: 50px 0px 30px;
  padding-inline-start: 20px;
}

.dropdown-list-item {
  text-align: left;
  margin-bottom: 30px;
}

.dropdown-list-item::marker {
  font-size: 20px;
  transition: color .3s;
}

.dropdown-link:hover {
  color:rgba(165, 11, 11, 0.76);
}

.dropdown-link:hover::marker {
  color:rgba(165, 11, 11, 0.76);
}

.dropdown-list-item:last-child {
  margin-bottom: 0px;
}

/* common end */

.accent-color {
  color: rgba(165, 11, 11, 0.68);
}

.header {
  width: 100%;
  position: relative;
  z-index: 10000;
  background: linear-gradient(90.73deg, rgba(125, 11, 165, 0.7) 0%, rgba(165, 11, 11, 0.7) 100%);
  color: var(--gray-color);
}

.header__container {
  padding: 30px 70px;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}

.header__link-wrapper {
  padding: 5px;
  text-align: center;
  border-left: 1px solid var(--gray-color);
}

.header__link {
  font-family: 'Roboto';
  font-size: 24px;
}

.header__link_dropdown {
  position: relative;
}

.header__link_dropdown:hover .dropdown-wrapper,
.header__dropdown-wrapper:hover {
  opacity: 1;
  visibility: visible;
}

.header__contact {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contact-phone {
  display: flex;
  flex-direction: column;
}

.header__contact-phone-digits {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

.header__contact-phone-text {
  font-size: 18px
}

.header__contact-button {
  font-size: 20px;
  color: #000;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 14px;
  padding: 20px 12px;
  cursor: pointer;
  transition: background-color .3s, transform .3s;
}

.header__contact-button:hover {
  background-color: rgba(255, 255, 255, .6);
}

.header__contact-button:active {
  transform: scale(1.03);
}

.header__contact-button-wrapper {
  opacity: 0;
  visibility: hidden;
  display: block;
  width: 280px;
  height: 75px;
  position: absolute;
  bottom: -40px;
  right: 45px;
  transition: opacity .3s, visibility .3s;
}

.header__contact-button-wrapper.active {
  opacity: 1;
  visibility: visible;
}

.header__contact-button-wrapper::before {
  content: '';
  position: absolute;
  display: block;
  width: 190px;
  top: 55px;
  left: 45px;
  height: 1px;
  z-index: 10;
  background-color: #fff;
}

.header__contact-phone-input {
  border: none;
  outline: none;
  max-width: 280px;
  padding: 25px 40px;
  color: #fff;
  background: linear-gradient(90deg, rgba(125, 11, 165, 0.8) 0%, rgba(165, 11, 11, 0.8) 100%);
  border-radius: 58px;
  text-align: center;
  font-size: 22px;
}

.header__contact-phone-submit {
  position: absolute;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  display: block;
  width: 17px;
  height: 17px;
  right: 17px;
  bottom: 22px;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  transform: rotate(-45deg) translateY(-50%);
}

/* header end */

/* section start */

.section {
  position: relative;
  width: 100%;
  border-bottom: 3px solid var(--red-color);
}

.section__title {
  margin-top: 0;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
}

.section::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0.38)), url('../assets/common/bg.jpg') no-repeat center; */
  background: url('../assets/common/bg.jpg') no-repeat center;
  background-size: cover;
}

.section.reverse-bg::after {
  transform: scale(1, -1);
}

.section_slider {
  padding: 100px 120px;
  border: none;
  background: linear-gradient(90.73deg, rgba(125, 11, 165, 0.7) 0%, rgba(165, 11, 11, 0.7) 100%);
}

.section_slider::after {
  background: none;
}

.section_our-work {
  padding: 80px 50px;
}

/* section end */

/* slider start */

.slider {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  filter: drop-shadow(2px 4px 10px #000000);
  border-radius: 20px;
}

.slider::after {
  content: '';
  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('../assets/common/examples-bg.png');
  transform: scale(-1, 1);
}

.slide {
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 90%;
  max-height: 80vh;
  min-height: 680px;
  transition: opacity .5s, visibility .5s;
}

.slide:nth-child(2) {
  width: 70%;
}

.slide.active {
  position: static;
  opacity: 1;
  visibility: visible;
}

.slide__left,
.slide__right {
  display: flex;
  justify-content: center;
  width: 50%;
}

.slider__text {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}

.slider__image {
  width: 330px;
  height: 330px;
  align-self: center;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.slider__paragraph {
  margin-bottom: 40px;
}

.slider__paragraph:last-child {
  margin-bottom: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background .3s, transform .3s;
}

.arrow:hover {
  background: #fff;
}

.arrow:active {
  transform: scale(1.03) translateY(-50%);
}

.arrow::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  z-index: -1;
}

.arrow:hover {
  background: transparent;
}

.arrow:hover::before {
  background: linear-gradient(180deg, rgba(125, 11, 165, 0.7) 0%, rgba(165, 11, 11, 0.7) 100%);
}

.arrow::after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid var(--red-color);
}

.arrow_left {
  left: 40px;
}

.arrow_right {
  right: 40px;
}

.arrow_left::after {
  top: 25px;
  left: 30px;
  transform: rotate(-45deg);
  border-bottom: none;
  border-right: none;
}

.arrow_right::after {
  top: 25px;
  right: 30px;
  transform: rotate(-45deg);
  border-top: none;
  border-left: none;
}

/* slider end */

/* our-work start */

.our-work {
  margin: 90px 0;
  display: flex;
  justify-content: center;
}

.our-work__left-side,
.our-work__right-side {
  width: 50%;
}

.our-work__left-side {
  display: flex;
  align-items: center;
  position: relative;
}

.our-work__right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.our-work__card {
  padding: 15px 35px;
  margin-bottom: 50px;
  max-width: 540px;
  background: linear-gradient(95deg, rgba(125, 11, 165, 0.7) 0%,  rgba(165, 11, 11, 0.7) 100%);
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.81);
  border-radius: 39px;
  color: #fff;
  font-size: 24px;
}

.our-work__card:last-child {
  margin-bottom: 0;
}

.our-work__card-title {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  margin-bottom: 20px;
}

.our-work__card-text {
  font-weight: 400;
  margin: 0;
}

.our-work__computer-image {
  height: 560px;
  position: relative;
  left: -150px;
}

.our-work__slider-wrapper {
  position: absolute;
  top: 17%;
  left: 148px;
}

.our-work__comp-slider {
  position: relative;
  overflow: hidden;
}

.our-work__comp-slide {
  width: 399px;
  height: 265px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s, transform .5s, z-index .5s;
}

.our-work__comp-slide.active {
  position: static;
  opacity: 1;
  transform: none;
  visibility: visible;
}

.our-work__comp-slide img {
  width: 100%;
  height: 100%;
}

/* our-work end */

/* pricing start */

.section_pricing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 80px 180px 150px;
}

.pricing__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.pricing__card {
  position: relative;
  z-index: 1;
  max-width: 250px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 35px 50px;
  color: #fff;
  background: linear-gradient(10deg, rgba(165, 11, 11, 0.77) 0%, rgba(125, 11, 165, 0.76)  100%);
  border-radius: 20px;
  transition: box-shadow .3s, color .3s;
}

.pricing__card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 20px;
  z-index: -1;
  opacity: 0;
  transition: opacity .3s;
}

.pricing__card:hover {
  box-shadow: 0px 0px 24px 10px rgba(165, 11, 11, 0.45);
  color: #000;
}

.pricing__card:hover::after {
  opacity: 1;
}

.pricing__card:hover .pricing__card-name::after {
  background: var(--red-color);
}

.pricing__card:hover .pricing__card-button {
  background-color: var(--red-color);
  color: #fff;
}

.pricing__card-name {
  text-align: center;
  margin: 0;
  min-height: 60px;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pricing__card-name::after {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  margin-top: 10px;
  background-color: #fff;
  transition: background-color .3s;
}

.pricing__card-name::after:hover {
  background-color: var(--red-color);
}

.pricing__card-price {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.pricing__card-text {
  margin: 0;
  min-height: 180px;
  font-size: 17px;
  font-weight: 500;
}

.pricing__card-button {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  padding: 7px 25px;
  border-radius: 9px;
  transition: transform .3s, background-color .3s, color .3s;
}

.pricing__card-button:active {
  transform: scale(1.04);
}

/* pricing end */

/* seo start */

.section_seo {
  padding: 80px 180px;
}

.seo {
  display: flex;
  margin-bottom: 90px;
}

.seo__image-wrapper,
.seo__text {
  width: 50%;
}

.seo__image-wrapper {
  position: relative;
}

.seo__moon-image {
  position: absolute;
  top: -60px;
  right: -170px;
  z-index: 0;
}

.seo__text {
  max-width: 385px;
  position: relative;
  z-index: 1;
}

.seo__title {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.seo__info {
  line-height: 22px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 50px;
}

.seo__plans {
  display: flex;
}

.seo__plan {
  display: flex;
  padding: 0 20px;
  width: 25%;
  min-height: 200px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 3px solid var(--red-color);
}

.seo__plan:last-child {
  border-right: none;
}

.seo__plan-name {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.seo__plan-price {
  font-weight: 500;
  font-size: 24px;
}

.seo__plan-info {
  font-weight: 500;
  color: #6a6a6a;
}

.seo__plan .page-link {
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* seo end */

/* about-us start */

.section_about-us {
  padding: 80px 160px 20px;
  margin-bottom: 0;
}

.about-us__main {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.about-us,
.about-us__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.about-us__form {
  align-items: center;
  height: 100%;
}

.about-us__title {
  font-size: 32px;
  font-weight: 500;
}

.about-us__fragment {
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-us__fragment:first-of-type {
  max-width: 260px;
  align-items: center;
}

.about-us__fragment:first-of-type .about-us__fragment-title {
  width: 262px;
}

.about-us__fragment:first-of-type::before {
  content: '';
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  left: -70px;
  background: url('../assets/seo/heart.png') no-repeat;
}

.about-us__fragment:first-of-type::after {
  content: '';
  width: 115px;
  height: 150px;
  position: absolute;
  top: 50px;
  right: -120px;
  background: url('../assets/seo/step-arrow.png') no-repeat;
}

.about-us__fragment:nth-of-type(2) {
  margin-left: 60px;
}

.about-us__fragment:nth-of-type(2)::before {
  content: '';
  width: 65px;
  height: 88px;
  display: block;
  position: absolute;
  top: -30px;
  left: -85px;
  background: url('../assets/seo/arrow.png') no-repeat;
}

.about-us__fragment:nth-of-type(2)::after {
  content: '';
  width: 115px;
  height: 150px;
  position: absolute;
  top: 90px;
  left: -130px;
  transform: scale(-1, 1) rotate(10deg);
  background: url('../assets/seo/step-arrow.png') no-repeat;
}

.about-us__fragment:last-of-type {
  margin-left: 140px;
  margin-bottom: 0;
}

.about-us__fragment:last-of-type::before {
  content: '';
  width: 90px;
  height: 82px;
  display: block;
  position: absolute;
  top: 0px;
  left: -90px;
  background: url('../assets/seo/file.png') no-repeat;
}

.about-us__fragment-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

.about-us__fragment-text {
  font-weight: 500;
}

.about-us__free-photo {
  width: 100%;
}

.about-us__free-photo-text {
  font-weight: 600;
  font-size: 18px;
  position: relative;
  margin-bottom: 15px;
}

/* .about-us__free-photo-text::before {
  content: '';
  position: absolute;
  left: -4%;
  display: block;
  width: 40px;
  height: 20px;
  border: 2px solid #10c618;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
} */

.about-us__free-photo-subtext {
  font-weight: 500;
  font-size: 14px;
  color: #6a6a6a;
}

.about-us__form .about-us__title {
  margin-bottom: 30px;
}

.about-us__form-main {
  padding: 70px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 380px;
  background: linear-gradient(180deg, rgba(125, 11, 165, 0.7) 0%,  rgba(165, 11, 11, 0.7) 100%);
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.81);
  border-radius: 39px;
  color: #fff;
  font-size: 24px;
}

.about-us__form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.about-us__form-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-size: 20px;
  color: #fff;
  outline: none;
  background: transparent;
  font-weight: 400;
  margin-bottom: 40px;
  padding: 10px 20px;
}

.about-us__form-input::placeholder {
  text-align: center;
  font-weight: 400;
  color: var(--gray-color);
  opacity: .6;
}

.about-us__form-dropdown-label {
  position: relative;
}

.about-us__form-dropdown-label:not(.filled)::after {
  content: '';
  display: block;
  position: absolute; 
  right: calc(50% - 75px);
  top: 20px;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
}

.about-us__form-dropdown-label .dropdown-wrapper {
  top: 80px;
}

.about-us__form-submit {
  background: transparent;
  border: 3px solid #fff;
  border-radius: 13px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  padding: 10px 30px;
}

.type-of-site {
  cursor: pointer;
}

/* about-us end */

/* footer start */

.footer {
  /* background-color: rgba(165, 11, 11, 0.65); */
  background-color: var(--red-color);
  width: 100%;
  padding: 60px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .logo {
  margin-bottom: 35px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.footer__socials {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.footer__nav {
  font-family: 'Roboto';
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer__nav-link,
.footer__copyrights {
  transition: opacity .3s;
  font-family: 'Roboto';
  color: #fff;
  font-size: 24px;
}

.footer__nav-link:hover  {
  opacity: .7;
}

/* footer end */

/* examples start */

body.examples-page::after {
  content: '';
  display: flex;
  width: 100%;
  min-height: 1100px;
  position: absolute;
  top: 155px;
  z-index: -10;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0.38)), url('../assets/common/examples-bg.png') no-repeat center;
  background-size: cover;
}

.section_examples {
  padding: 0 80px;
}

.section__title {
  margin-bottom: 120px;
}

.header_examples {
  margin-bottom: 250px;
}

.section_examples::after {
  background: none;
}

.site-slider {
  position: relative;
  z-index: 1;
}

.site-slider__slide {
  display: flex;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.site-slider__slide.active {
  position: static;
  opacity: 1;
  visibility: visible;
}

.site-slider::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  display: block;
  width: 80%;
  height: 890px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), linear-gradient(230.78deg, rgba(125, 11, 165, 0.42) 1.83%, rgba(165, 11, 11, 0.42) 98.34%);
  box-shadow: 0px 11px 24px rgba(0, 0, 0, 0.73);
  border-radius: 46px;
}

.site-slider__pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-slider__pagination-list-item {
  margin-top: 70px;
  width: 20px;
  height: 20px;
  border: 2px solid #7d0BA5;
  margin-right: 50px;
  cursor: pointer;
  transition: opacity .3s, background-color .3s;
}

.site-slider__pagination-list-item:last-child {
  margin-right: 0;
}

.site-slider__pagination-list-item.active {
  background-color: #7d0BA5;
}

.site-slider__pagination-list-item:not(.active):hover {
  background-color: #7d0BA5;
  opacity: .7;
}

.site-slider__name-wrapper {
  position: absolute;
  top: -100px;
  left: 240px;
}

.site-slider__name {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 10px;
}

.site-slider__name-subtext {
  font-weight: 500;
  font-size: 12px;
  color: #949090;
}

.examples-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.site-slider__slide:not(.active) .examples-slider {
  display: none;
}

.examples-slider__slide {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -100;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  min-height: 890px;
  transition: opacity .5s, visibility .5s, transform .5s, z-index .5s;
}

.examples-slider__slide.active {
  position: static;
  opacity: 1;
  transform: none;
  visibility: visible;
}

.examples-slider__image {
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  border-radius: 44px;
  filter: drop-shadow(0px 11px 24px rgba(0, 0, 0, 0.73));
  transition: box-shadow .3s, transform .3s, opacity .3s;
}

.examples-slider__image.hidden {
  opacity: 0;
}

.landing .examples-slider__image:hover {
  box-shadow: -5px 1px 38px 13px #FFFFFF;
  transform: scale(1.03);
}

.landing .examples-slider__image {
  max-width: 330px;
  max-height: 800px;
}

.corporate .examples-slider__image,
.online-store .examples-slider__image {
  max-width: 80%;
  max-height: 85%;
  height: 85%;
}

.corporate .examples-slider__image:hover,
.online-store .examples-slider__image:hover {
  box-shadow: 0px 0px 24px 2px #FFFFFF;
  transform: scale(1.02);
}

.examples-slider .arrow,
.examples-slider .arrow::before {
  transition: opacity .3s, transform .3s;
  background: transparent;
}

.examples-slider .arrow:hover {
  opacity: .7;
}

/* examples end */

/* modal start */

.modal-wrapper {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: rgba(0, 0, 0, .7);
  transition: opacity .3s, visibility .3s;
  overflow-y: auto;
}

.modal-wrapper.active {
  opacity: 0;
  visibility: visible;

}

.modal_example {
  max-width: 70%;
  padding: 40px 0;
}

.modal_example img {
  cursor: default;

}

.modal_example .slim {
  max-width: 500px;
}

.modal_example .wide {
  max-width: 100%;
}

/* modal end */

.phone {
  text-align: left;
}